<div class="content-block">
  <div class="block-header" *ngFor="let breadscrum of breadscrums">
    <!-- breadcrumb -->
    <app-breadcrumb
      [title]="breadscrum.title"
      [items]="breadscrum.items"
      [active_item]="breadscrum.active"
    >
    </app-breadcrumb>
  </div>

  <div class="row main-container">
    <div class="table-container">
      <div class="header-wrapper tabs">
        <div>
          <h6
            class="table-title active-tab"
            [ngStyle]="{
              'border-bottom': '2px solid #EA3D80',
              color: '#EA3D80'
            }"
          >
            Tìm kiếm
          </h6>
        </div>

        <!--Button Tìm kiếm và import excel-->
        <ng-container
          [ngTemplateOutlet]="templatebtnContainer"
          *ngIf="isDesktop"
        ></ng-container>
      </div>

      <div class="row">
        <form [formGroup]="__name__DetailForm" id="__name__DetailForm">
          <div class="row">
            <!--Chuỗi tìm-->
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-12">
              <mat-form-field
                class="example-full-width m-b-0"
                appearance="outline"
              >
                <button mat-icon-button matPrefix (click)="onSearch__name__()">
                  <mat-icon>search</mat-icon>
                </button>
                <mat-label>Tìm kiếm</mat-label>
                <input
                  matInput
                  placeholder="Mã Netsuit, tên khách hàng"
                  [formControlName]="'keysearch'"
                  (keyup.enter)="onSearch__name__()"
                />
              </mat-form-field>
            </div>
            <!--Ngày tạo từ ngày-->
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
              <div class="mat-form-field-wrapper">
                <app-datepicker
                  [label]="'Tạo từ ngày'"
                  (onChange)="onChangeDateFrom($event)"
                  [controlName]="'dateFrom'"
                  [form]="__name__DetailForm"
                >
                </app-datepicker>
              </div>
            </div>
            <!--Đến ngày-->
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
              <div class="mat-form-field-wrapper">
                <app-datepicker
                  [label]="'Đến ngày'"
                  (onChange)="onChangeDateTo($event)"
                  [controlName]="'dateTo'"
                  [form]="__name__DetailForm"
                >
                </app-datepicker>
              </div>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="templatebtnContainer"
            *ngIf="isMobile"
          ></ng-container>
        </form>
      </div>

      <div class="header-wrapper tabs">
        <div>
          <h6
            class="table-title active-tab"
            [ngStyle]="{
              'border-bottom': '2px solid #EA3D80',
              color: '#EA3D80'
            }"
          >
            Danh sách
          </h6>
        </div>
      </div>
      <div class="responsive_table" id="tbl__name__">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <app-server-side-table
              [root]="tbl__name__"
              [dataSource]="tbl__name__.dataSource"
              (onPageClicked)="onPageClicked($event)"
            >
            </app-server-side-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--BEGIN TEMPLATE BUTTONS-->
<ng-template #templatebtnContainer>
  <div class="flex btn-container">
    <button
      id="btnGoToCreatPost"
      mat-raised-button
      color="primary"
      (click)="onSearch__name__()"
    >
      <mat-icon>search</mat-icon> Tìm kiếm
    </button>
    <button
      id="btnGoToCreatPost"
      mat-raised-button
      class="btn-green"
      (click)="onShowImportExcel__name__Dialog()"
    >
      <mat-icon>import_export</mat-icon> Import Excel
    </button>
  </div>
</ng-template>
<!--END TEMPLATE BUTTONS-->

<!-- BEGIN TABLE TEMPLATE -->

<!--Button Hành Động-->
<ng-template #templateAction let-data="data">
  <div class="">
    <button
      mat-icon-button
      class="btn-tbl-edit"
      matTooltip="Sửa"
      (click)="onOpenDialogEdit__name__(data)"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</ng-template>
<!-- END TABLE TEMPLATE -->
